<p class="text-lg text-neutral-600 font-semibold divider">Experiência</p>

<section class="grid justify-items-center">
  <canvas
    baseChart
    type="radar"
    [data]="radarChartData"
    [legend]="false"
    [options]="radarChartOptions"
  >
  </canvas>
</section>

<p class="text-lg text-neutral-600 font-semibold divider">Stack</p>

<!-- Backend  -->
<section class="mb-10">
  <h2 class="text-neutral-500 font-bold mb-4">Backend</h2>
  <div class="grid grid-cols-4 gap-6">
    @for (item of backendStack; track $index) {
    <div>
      <div
        class="mask mask-squircle bg-neutral-300 p-4 text-center hover:scale-110 cursor-pointer"
      >
        <img
          [src]="item.imagem"
          [alt]="item.nome"
          class="size-6 mx-auto object-contain"
        />
      </div>
      <p class="font-semibold text-center">{{ item.nome }}</p>
    </div>
    }
  </div>
</section>

<!-- Frontend Section -->
<section class="mb-10">
  <h2 class="text-neutral-500 font-bold mb-4">Frontend</h2>
  <div class="grid grid-cols-4 gap-6">
    @for (item of frontendStack; track $index) {
    <div>
      <div
        class="mask mask-squircle bg-neutral-300 !shadow-2xl p-4 text-center hover:scale-110 cursor-pointer"
      >
        <img
          [src]="item.imagem"
          [alt]="item.nome"
          class="size-6 mx-auto object-contain"
        />
      </div>
      <p class="font-semibold text-center">{{ item.nome }}</p>
    </div>
    }
  </div>
</section>

<!-- Ferramentas Section -->
<section class="mb-10">
  <h2 class="text-neutral-500 font-bold mb-4">Ferramentas Gerais</h2>
  <div class="grid grid-cols-4 gap-6">
    @for (item of enginesStack; track $index) {
    <div>
      <div
        class="mask mask-squircle bg-neutral-300 !shadow-2xl p-4 text-center hover:scale-110 cursor-pointer"
      >
        <img
          [src]="item.imagem"
          [alt]="item.nome"
          class="size-6 mx-auto object-contain"
        />
      </div>
      <p class="font-semibold text-center">{{ item.nome }}</p>
    </div>
    }
  </div>
</section>
