<h1 class="text-2xl font-extrabold text-gray-900 mb-6">Sobre</h1>
<div
  class="text-lg text-gray-800 font-light tracking-wide leading-normal spaced-y-6"
>
  <p class="mb-3">
    Desenvolvo produtos digitais de alta performance, minha stack principal
    inclui
    <strong class="text-gray-900 font-extrabold underline">Angular</strong> e
    <strong class="text-gray-900 font-extrabold underline">NestJS</strong>.
  </p>
  <p>
    Meu foco é resolver problemas, melhorar experiências e transformar ideias em
    soluções reais, sempre com eficiência e boas práticas de desenvolvimento.
  </p>
</div>
