<h1 class="text-2xl font-extrabold text-gray-900 mb-6">Tecnologias</h1>

@for (category of stack; track $index) {

<h2 class="font-light text-gray-600 pt-4">
  {{ category.categoria }}
</h2>
<div
  class="grid grid-cols-2 sm:grid-cols-4 md:grid-cols-4 lg:grid-cols-5 gap-2"
>
  <!-- Loop through each technology -->
  @for (tech of category.tecnologias; track $index) {
  <div class="p-4">
    <img
      [src]="tech.imagem"
      [alt]="tech.nome"
      class="grayscale w-10 h-10 mx-auto mb-2"
    />
    <p class="text-center text-sm font-medium">{{ tech.nome }}</p>
  </div>
  }
</div>
}
