<div
  [ngClass]="{ flipped: isFlipped }"
  class="card-container cursor-pointer"
  (click)="flipCard()"
>
  <!-- Front Side -->
  <div
    class="card-front card-face flex flex-col justify-center items-center bg-base-100 shadow-lg"
  >
    <div class="card bg-base-100 image-full shadow-xl">
      <figure>
        <img
          class="w-full"
          src="https://static.vecteezy.com/ti/fotos-gratis/t2/37044953-ai-gerado-borrao-moderno-bem-iluminado-escritorio-espaco-com-vidro-particoes-e-verde-plantas-borrao-fundo-do-moderno-escritorio-interior-projeto-area-de-trabalho-fundo-para-corporativo-escritorio-foto.jpg"
        />
      </figure>
      <div class="card-body">
        <h2 class="card-title">Toan Rodrigues</h2>
        <p>Analista de Sistemas, Programador, Engenheiro de Software.</p>
        <div class="card-actions justify-end items-center">
          <div class="flex gap-4 justify-center mr-auto">
            <figure
              (click)="openGithubLink($event)"
              class="w-8 cursor-pointer hover:scale-150"
            >
              <img src="./assets/logo/github.svg" />
            </figure>

            <figure
              (click)="openLinkedinLink($event)"
              class="w-8 cursor-pointer hover:scale-150"
            >
              <img src="./assets/logo/linkedin.svg" />
            </figure>
          </div>

          <button (click)="openDetail($event)" class="btn btn-circle">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="size-6"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M4.26 10.147a60.438 60.438 0 0 0-.491 6.347A48.62 48.62 0 0 1 12 20.904a48.62 48.62 0 0 1 8.232-4.41 60.46 60.46 0 0 0-.491-6.347m-15.482 0a50.636 50.636 0 0 0-2.658-.813A59.906 59.906 0 0 1 12 3.493a59.903 59.903 0 0 1 10.399 5.84c-.896.248-1.783.52-2.658.814m-15.482 0A50.717 50.717 0 0 1 12 13.489a50.702 50.702 0 0 1 7.74-3.342M6.75 15a.75.75 0 1 0 0-1.5.75.75 0 0 0 0 1.5Zm0 0v-3.675A55.378 55.378 0 0 1 12 8.443m-7.007 11.55A5.981 5.981 0 0 0 6.75 15.75v-1.5"
              />
            </svg>
          </button>
        </div>
      </div>
    </div>
  </div>

  <!-- Back Side -->
  <div
    class="card-back card-face flex flex-col justify-center items-center bg-gray-900 shadow-lg p-8 text-center"
  >
    <blockquote class="italic text-neutral-200">
      Deve haver uma—e preferencialmente apenas uma—maneira óbvia de fazer isso.
    </blockquote>

    <p class="mt-5 text-md text-neutral-300">The Zen of Python</p>
  </div>
</div>
